* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font: normal 16px/1.5 'Helvetica Neue';
    text-align: center;
    background: #e3dede;
}

.container {
    width: 100%;
    height: 100%;
}

.header {
    background: linear-gradient(45deg, #ff5f2e, #f9320c);
    min-height: 50px;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
}

.header h1 {
    margin: 0;
    padding: 1%;
    font-weight: normal;
    color: #fff;
}

.person-container {
    padding: 1%;
    width: 90%;
    margin: 5% auto;
    /*box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2);*/

}

.person {
    margin: 3% auto;
    background: #fff;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 3px;
    background: linear-gradient(45deg, #fff, #9baec8);
}

.person-name,
.person-image,
.person-add
 {
    margin-top: 5%;
    margin-bottom: 5%;
}

.person-name h3 {
    margin: 0;
    padding: 0;
}

.person-image {

}

.person-image img {
    width: 150px;
    height: 150px;
    max-width: 200px;
    border-radius: 50%;
    border: 3px solid #fff;
}

